# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 載入 NumPy, Pandas 套件
import numpy as np
import pandas as pd

# 檢查正確載入與版本
print(np)
print(np.__version__)
print(pd)
print(pd.__version__)

<module 'numpy' from '/opt/anaconda3/lib/python3.7/site-packages/numpy/__init__.py'>
1.17.2
<module 'pandas' from '/opt/anaconda3/lib/python3.7/site-packages/pandas/__init__.py'>
0.25.1

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print('====================')
print(df2)

    fruit  weight  price
0   apple    high     14
1  banana  medium      4
2  orange     low      1
3   apple    high      3
4  banana  medium      8
5  orange     low     11
6   apple    high      5
7  banana  medium      9
8  orange     low      1
====================
    fruit weight  price
0   apple   high      4
1  orange    low      8
2    pine   high      4
3   apple    low      4
4  orange   high     13
5    pine    low      6

In [7]:
# - 依照 fruit 欄位做合併
pd.merge(df1, df2, on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high       14     high        4
1    apple     high       14      low        4
2    apple     high        3     high        4
3    apple     high        3      low        4
4    apple     high        5     high        4
5    apple     high        5      low        4
6   orange      low        1      low        8
7   orange      low        1     high       13
8   orange      low       11      low        8
9   orange      low       11     high       13
10  orange      low        1      low        8
11  orange      low        1     high       13

In [5]:
# - 依照 index 索引做合併
pd.merge(df1, df2, on='id')

KeyError: 'id'

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [ ]:
'''
Your Code
'''

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [ ]:
'''
Your Code
'''

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          3     apple       high        3.0
1    banana     medium          6    orange        low        2.0
2    orange        low          0      pine       high       11.0
3     apple       high          5     apple        low        3.0
4    banana     medium          1    orange       high       13.0
5    orange        low          2      pine        low        8.0
6     apple       high         12       NaN        NaN        NaN
7    banana     medium         11       NaN        NaN        NaN
8    orange        low          7       NaN        NaN        NaN